*.exe
# archivos que genera el VS para los usuarios
*.suo
*.sdf
*.opensdf
Debug
Release
x64/Debug
x64/Release
*.user

# archivos de CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*/build/FlappyBird


# archivos de log (son al pedo)
log.txt
assimp_log.txt
